.site-footer {
  padding-bottom: 10px;
  border-top: 10px solid #7c7c7e;
  border-bottom: 18px solid #3e3f41;
  background: #45494c;
  font-size: 14px;

  &:extend(.dark-context all);

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
  }

  .nav {
    margin-top: -6px;

    > li {
      border-top: 1px solid @gray;
      > a {
        padding: 6px 0 12px;
      }
    }
  }
}

.footer-logo > .ggshape {
  fill: lighten(@brand-secondary, 10%);
}

#mini-panel-footer {
  > .panel-panel {
    &:extend(.grid-margin-top all);
  }
}

.social-footer {
  &:extend(.grid-margin-top all);

  > a {
    display: inline-block;
    padding: 0 6px;

    &:first-of-type {
      margin-left: -6px;
    }

    > .ggshape {
      height: 22px;
      width: 23px
    }

    > .ggshape-twitch {
      width: 60px;
    }
  }
}

@media (max-width: 319px) {
  #mini-panel-footer {
    > .center_left,
    > .center_right {
      width: 100%;
    }
  }
}

@media (max-width: @screen-xxs-max) {
  .footer-logo {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
  .footer-logo,
  .footer-mission {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  .footer-mission {
    padding-left: @grid-gutter-width/2;
  }

  .social-footer {
    margin-top: 0;
  }
}