.site-header {
  .navbar-nav > li {
    font-size: 15px;
    text-transform: uppercase;

    > a {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: @grid-float-breakpoint) {
    .navbar-nav > li > .active-trail:before {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -6px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #7D7D7D;
    }
  }

  // Make menu items smaller so we don't linebreak the container
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .navbar-nav > li {
      font-size: 14px;

      > a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  @media (min-width: @screen-md-min) {
    padding-top: 100px;
  }
}

.navbar-main {
  border: none;
  z-index: @zindex-navbar;

  .ggshape {
    width: 16px;
    height: 16px;
    fill: @navbar-default-toggle-icon-bar-bg;
  }

  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }

  @media (max-width: @screen-sm-max) {
    width: 100%;
  }

  @media (min-width: @screen-sm-min) {
    border-top: 6px solid #7D7D7D;
    box-shadow: rgba(0, 0, 0, 0.65) 1px 1px 1px 0px;
  }
}

// Branding.
.logo-h1-wrapper {
  margin: 0;
}

@header-logo-height: 56px;
.menu-logo {
  margin: (@navbar-height - @header-logo-height)/2 0 0 @grid-gutter-width/2;

  > .ggshape {
    display: block;
    height: @header-logo-height;
    width: 140px; // At some point this should be "auto"
    color: #fff;
  }

  @media (min-width: @screen-sm-min) {
    margin-left: 0;
  }

  @media (min-width: @screen-sm-min) {
    margin-right: 20px;
  }

  @media (min-width: @screen-md-min) {
    margin-right: 30px;
  }
}

.navbar-toggle:nth-of-type(n+2) {
  margin-right: 5px;
}

#navbar-sticky-wrapper {
  padding: 0;

  @media (min-width: @screen-md-min) {
    margin-bottom: @navbar-margin-bottom;
  }
}

// Sticky navbar on phones with enought vertical space
// If you change this query, update js/global/sticky-navbar-phone.js too
@header-logo-height-xs: @header-logo-height - 10px;
@media (max-width: @screen-xs-max) and (min-height: (@navbar-height-xs*7)) {
  .navbar-main {
    min-height: @navbar-height-xs;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .site-header {
    padding-bottom: @navbar-height-xs;
  }
  .menu-logo {
    margin-top: ((@navbar-height-xs - @header-logo-height-xs)/2);

    > .ggshape {
      height: @header-logo-height-xs;
      width: 128px; // Should be auto at some point
    }
  }
  .navbar-toggle {
    margin-top: ((@navbar-height-xs - 34px) / 2);
    margin-bottom: ((@navbar-height-xs - 34px) / 2);
  }
}

// Contextual body background image
.topic-bg {
  display: none;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-bottom: 1px solid #fff;

  background-image: url(../img/lol-header-large.jpg);

  @media (min-width: @screen-md-min) {
    display: block;
  }
}