a {
  transition: color 0.2s ease;
}

// Fixes some fieldset styling issues on FF
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

// Custom padding on containers
@container-padding: 20px;
.container {
  padding-left: @grid-gutter-width/2;
  padding-right: @grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    padding-left: @container-padding;
    padding-right: @container-padding;
  }
}

// Full width inside container (no row)
.grid-full-width {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-left: -@container-padding;
    margin-right: -@container-padding;
  }
}

.grid-full-width-phone {
  margin-left: -@grid-gutter-width/2;
  margin-right: -@grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-margin-top {
  margin-top: @grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-top: @container-padding;
  }
}

.grid-margin-top-phone {
  margin-top: @grid-gutter-width/2;
  
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
  }
}

.negative-grid-margin-top {
  margin-top: -@grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-top: -@container-padding;
  }
}

.negative-grid-margin-top-phone {
  margin-top: -@grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-top: 0
  }
}

.grid-margin-bottom {
  margin-bottom: @grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    margin-bottom: @container-padding;
  }
}

.main-container {
  background: #fff;
  padding: @grid-gutter-width/2;

  @media (min-width: @screen-sm-min) {
    padding: @container-padding;
    box-shadow: rgba(0, 0, 0, .75) 0px 2px 50px -25px;
  }
}