/* TODO, move this in to separate files for masterypage-edit-* rules */
.masterypage-panel, .masterypage-edit-panel {
	height: 470px;	
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
}

.masterypage-edit-panel {
	font-size: 200px;
	text-align: center;
	line-height: 450px;
}

.masterypage-panel-masteries {
	margin: 16px;
}

.masterypage-row {
	margin-bottom: 3px;
}

.masterypage-row, .masterypage-edit-row, .masterypage-panel-title {
	
}

.masterypage-edit-row  {
	text-align: center;
	font-size: 1.2em;
}

.masterypage-edit-cell, .masterypage-edit-opts-mastery-cell{
	font-size: 11px;
}

.masterypage-edit-opts-mastery-cell {
	position: absolute;
	width: 51px;
	height: 51px;
	top: 3px;	
	opacity: 0;	
}

.masterypage-edit-opts-mastery-cell:hover {
	opacity: 1;
}

.masterypage-edit-opts-mastery-cell .ui-button, .masterypage-edit-cell .ui-button {
	margin-top: 3px;	
}

.masterypage-page .ui-button {
	display: block;
}

.masterypage-page .ui-button-text {
	padding: 0;
}

.masterypage-page {
	background: url(../img/masterypage.jpg) no-repeat center;
	text-align: center;
}

.masterypage-cell, .masterypage-cell-empty, .masterypage-edit-cell {
	overflow:visible;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0 1px 7px 0;
	padding: 3px;
	width: 55px;
	vertical-align: bottom;
	transition: opacity 0.2s;
}

.masterypage-cell-empty:after{
	content:"";
	display: block;
	overflow: hidden;
	width: 51px;
	height: 51px;	
}

.masterypage-cell-no-rank {
	opacity: .4;	
}

.masterypage-panel-title {
	text-align: center;
	text-shadow: 0px 0px 2px rgb(0, 0, 0);
	font-size: 20px;
	font-weight: bold;
	padding: 10px;	
	color: rgb(238, 238, 238);
	line-height: 0;
}

.masterypage-cell-rank {
	position: absolute;
	z-index: 2;
	background: black;
	font-size: 12px;
	padding: 0px 3px;
	bottom: -4px;
	right: 6px;
	border-radius: 3px;
	border: 1px solid lime;
	color: lime;
	vertical-align: middle;
	height: 14px;
	line-height: 13px;
	transition: color 0.5s, border-color 0.5s;
}

.masterypage-cell-max-rank .masterypage-cell-rank {
	color: gold;
	border-color: gold;
}

.masterypage-cell-icon {
	width: 50px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid lime;	
	overflow: hidden;
	transition: border-color 0.5s;
}

.masterypage-cell-icon img {
	width: 100%;
	height: 100%;
}

.field-widget-masteryfield-page-widget .masterypage-cell-icon {
	cursor: pointer;
}

.masterypage-cell-max-rank .masterypage-cell-icon {
	border-color: gold;
}

.masterypage-cell-parent:after {
	content: "";
	width: 10px;
	display: block;
	position: absolute;
	background-color: lime;
	box-shadow: 0 0 6px inset;
	left: 50%;
	margin-left: -5px;
	height: 16px;
	transition: background-color 0.5s;
}

.masterypage-cell-parent-2:after {
	height: 85px;
}

.masterypage-cell-parent-full:after {
	background-color: gold;
}