// Highlighted article
#mini-panel-highlighted_article {
  margin-bottom: 20px;

  .highlighted-info,
  .field-highlighted-image {
    &:extend(.grid-full-width-phone all);
  }

  .field-highlighted-image img {
    width: 100%;
  }

  @media (min-width: @screen-sm-min) {
    position: relative;

    > .left {
      z-index: 1;
    }

    > .right {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    .field-highlighted-image {
      position: absolute;
      left: @grid-gutter-width/2;
      right: -@grid-gutter-width/2 - 1px; // Extra pixel to the right
      top: 0;
      bottom: 0;

      img {
        max-width: 140%;
        min-width: 100%;
        width: auto;
        height: 100%;
        position: absolute;
      }
    }
  }
}

.highlighted-info {
  &:extend(.negative-grid-margin-top-phone all);
  &:extend(.dark-context all);

  background-color: @highlighted-article-bg;
  color: #fff;
  padding: @grid-gutter-width/2;

  > .highlighted-title {
    &:extend(.h1);
    margin: 0 0 5px;

    > a {
      color: #fff;
    }
  }

  > .see-also {
    font-size: 90%;

    > .pane-title {
      font-weight: bold;
      margin-top: 15px;
      text-transform: uppercase;
    }
  }

  .see-also-list {
    margin: 0 0 0 5px;

    > li {
      padding: 1px 0;

      &:before {
        content: "\00BB";
        float: left;
        clear: left;
        color: @brand-primary;
      }

      > a {
        padding-left: 12px;
        display: block;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    height: 280px;
    padding: 30px;

    > .highlighted-title {
      font-size: @font-size-h4;
    }

    .see-also-list > li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    background-color: transparent;
    background-image: linear-gradient(to right,rgba(26,26,26,.8) 0%, @highlighted-article-bg 18%);
    background-position: ~"calc(-97% + 349px)" 0;
    background-size: 150% 100%;
  }

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(26,26,26,0.8) -30%, @highlighted-article-bg 35%);
    padding: 20px;
  }
}

// Article category inline nav, isn't show below @screen-sm-min (see .shrink-menu)
.art-cat-menu {
  @media (min-width: @screen-sm-min) {
    > li > a {
      padding: 5px 6px;
      font-size: 13px;
    }

    > li + li {
      margin-left: 1px;
    }
  }

  @media (min-width: @screen-md-min) {
    > li > a {
      padding: 7px 12px;
      font-size: 14px;
    }


    > li + li {
      margin-left: 2px;
    }
  }
}

// Shown below the node as recommendations
.related-articles {
  font-size: 0.1px;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  > li {
    width: 100%;
    font-size: @font-size-base;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;

    @media (min-width: 320px){
      width: 47%;
    }

    @media (min-width: @screen-xs-min) and (max-width: 619px) {
      width: 31.5%;

      &:nth-child(n+7) {
        display: none;
      }
    }

    @media (min-width: 620px){
      width: 23%
    }

    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
      @gutter: ((@grid-gutter-width * 2)/3);
      width: 31.5%;
      width: ~"calc(33.33% - @{gutter})";

      &:nth-child(n+7) {
        display: none;
      }
    }

    @media (min-width: @screen-lg-min) {
      @gutter: ((@grid-gutter-width * 3)/4);
      width: ~"calc(25% - @{gutter})";
    }
  }
}

// Comments and popular articles wrapper
#mini-panel-node_footer {
  margin-top: @grid-gutter-width;
}

.recent-articles {
  > li {
    > a {
      padding: 6px 0 12px;
      color: @gray-light;
      display: inline-block;

      &:hover {
        color: @link-hover-color;
      }
    }
  }
}

.popular-articles {
  > li {
    > .node > a {
      display: inline-block;

      &:hover {
        color: @link-hover-color;
      }
    }
  }
}

// Recent articles block
// It starts at the bottom on mobile, going to the side on tablets >
.recent-articles {
  @media (max-width: @screen-xs-max) {
    > li:nth-child(n+9) {
      display: none;
    }
  }
  @media (min-width: @screen-md-min) {
    > li > a {
      padding: 13px 20px;
    }
  }
}


