.view-site-search {
  > .view-empty {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
  }

  .views-exposed-form .views-exposed-widget {
    padding: 0;
    float: none;
  }
}

.search-info {
  color: @gray-light;
  font-size: .96em;
  > p {
    margin-bottom: 6px;
  }
  > .search-corrections {
    font-size: 1.1em;
  }
}