body, html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	user-select: none;
}

#loldataembed-search-box {
	padding: .2em;
	width: 100%;
	max-width: 130px;	
}

.ui-autocomplete {
	max-height: 230px;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: 110px;
	max-width: 600px;
	width: auto !important;
	font-size: 12px;	
} 

.ui-autocomplete .ui-menu-item a{
	padding-left: 22px;
	position: relative;
}

.ui-menu-item * {
	vertical-align: middle;
}

.loldataembed-data-icon {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	border-radius: 3px 0 0 3px;
}

.ui-autocomplete .ui-state-focus .loldataembed-data-icon{
	border-right: 1px solid #999999;
}