/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@spritesheet-width: 0px;
@spritesheet-height: 0px;
@spritesheet-image: '../img/sprite/sprite-core-3x.png';
@spritesheet-sprites:;
@spritesheet: 0px 0px '../img/sprite/sprite-core-3x.png' @spritesheet-sprites;

