.field-widget-summoner-spellfield-spell-picker{
	display: table;	
	vertical-align: middle;
	margin: 0 auto 10px auto;
}

.summoner-spell-picker-add-more, div.summoner-spell-container {
	display: table-cell;
	vertical-align: middle;
	max-width: 620px;
}

.summoner-spell-picker-add-more button {
	margin-bottom: 10px;
}

.summoner-spell-picker-pair {
	float: left;
	margin: 0 13px 10px 0;
	cursor: pointer;
	border: 2px solid #333333;
	border-radius: 6px;
	position: relative;
}

.summoner-spell-picker-dialog .loldata-spell {
	margin: 5px;
	border: 2px solid #333;
	cursor: pointer;
}

.summoner-spell-picker-dialog .loldata-spell.selected {
	border-color: gold;
}

.summoner-spell-picker-dialog {
	width: 396px;
}

.summoner-spell-picker-delete {
	position: absolute;
	top: -16px;
	right: -13px;
}
