#lolguide-form-wrapper {
	position: relative;
}

#lolguide-bg-wrapper {
	height: 530px;
	position: absolute;
	top: -22px;
	left: -22px;
	right: -22px;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

* + .region-content #lolguide-bg-wrapper {
	top: -5px;
}

#lolguide-bg-wrapper > div {
	position: absolute; 
	bottom: 0px; 
	left: 0px; 
	width: 100%; 
	height: 170px; 
	background: linear-gradient(to bottom,rgba(51,51,51,0) 0, #f1f1f1 100%);
}

#lolguide-toc {
	background-color:rgba(0,0,0,0.75);
	z-index: 2;
	padding: 0 15px;
	display: inline-block;
	border-radius: 4px;	
	margin-bottom: 25px;
	vertical-align: middle;
	max-width: 300px;
}

.node-lolguide-form {
	position: relative;
	padding: 10px;
}

.lolguide-main-section {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	width: 500px;
}

#lolguide-toc h2,  .lolguide-main-section  label{
	color: rgb(238, 238, 238);
	text-shadow: 1px 1px 1px black;
}

.lolguide-main-section  label{
	margin-top: 5px;
}

.lolguide-main-section > div > input, .lolguide-main-section > div > div > select {
	width: 350px;
	float: right;
}

.form-type-textarea > label {
	display: none !important;
}

.lolguide-user-section {
	position: relative;
}

.lolguide-user-section .lolguide-section-actions {
	position: absolute;
	right: 10px;
	z-index: 1;
	top: 7px;
}

.field-name-field-lolguide-section-title label {
	display: inline-block !important;
	margin-right: 5px;
}

.form-actions {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 5px 0 0;
	background-color: rgba(0, 0, 0, 0.6);
	height: 42px;
	color: #fff;
	opacity: .95;
}

.form-actions .form-group {
	margin-bottom: 0;
}

body.admin-menu .form-actions {
	top: 28px;
}

.form-actions > span {
	margin-right: 50px;	
}

/** Contest **/
.field-name-field-lolguide-join-contest, .group-lolguide-contest {
	display: none;
}
/*.group-lolguide-contest {
	margin: -10px -10px 0 10px;
}

.group-lolguide-contest > div {
	display: table-cell;
	padding: 0 10px;
	width: 50%;
}

.field-name-field-lolguide-join-contest > div {
	display: inline-block;
	background: rgba(64, 166, 29, 0.8);
	padding: 3px;
	border-radius: 2px;
	border: 1px dotted rgba(0, 0, 0, 0.4);
}

.field-name-field-lolguide-join-contest .help-block {
	display: inline-block;
	background: #000;
	padding: 2px;
	margin: 0;
	border-radius: 3px;
}*/

