.abilityfield-picker-container td.enabled {
	opacity: .7;
	cursor: pointer;
	background-color: #0C7A14 !important;	
}

.abilityfield-picker-container td.selected {
	cursor: pointer;
}

.abilityfield-picker-container td.last-selected {

}

