.field-widget-runefield-rune-picker {
	margin-bottom: 20px;
}

.runefield-picker-ops {
	width: 35px;
}

.runefield-picker-results {
	max-height: 450px;
	overflow: auto;
}

.runefield-picker-list-rune {
	display: table;	
}

.runefield-picker-list-rune > div {
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle;
}

.runefield-picker-list-rune > .lol-runes-1-icon img {
	width: 44px;
	height: 44px;
}

