.lol-runes-1-rune {
  margin-top: 15px;
  display: inline-table;  
  width: 50%;
  padding: 0 15px;
  vertical-align: middle;
}

.lol-runes-1-rune > div {
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle;
}

.lol-runes-1-icon {
	width: 1px;
}

.lol-runes-1-icon img,
.lol-runes-1-icon {
	width: 60px;
	height: 60px;
}

.lol-runes-1-icon {
	width: 70px;
}

.lol-runes-1-description, .lol-runes-1-count {
	font-size: larger;
	font-weight: bold;
}
