// PNG responsive sprite
.sprite-resp {
  // The actual value here doesnt matter, as long as it represent an image from the correct sprite
  //.make-responsive-sprite-base('resp');
}

// JPG responsive sprite
.sprite-resp-p {
  // The actual value here doesnt matter, as long as it represent an image from the correct sprite
  //.make-responsive-sprite-base('resp-p-full-logo1');
}

// Responsive sprite definitions
//.spr-full-logo { .make-resp-p-sprite('full-logo'); }
//.spr-full-logo1        { .make-resp-p-sprite('full-logo1'); }
//.spr-kalista           { .make-resp-p-sprite('Kalista_Square_0'); }

// Util
.make-resp-p-sprite(@sprite-name){
  @full-sprite-name: "resp-p-@{sprite-name}";
  .make-responsive-sprite(@full-sprite-name);
}

.make-resp-p-sprite-fluid(@sprite-name){
  @full-sprite-name: "resp-p-@{sprite-name}";
  .make-responsive-sprite-fluid(@full-sprite-name);
}

.make-resp-p-sprite-fluid-constrained(@sprite-name){
  @full-sprite-name: "resp-p-@{sprite-name}";
  .make-responsive-sprite-fluid(@full-sprite-name);
  //.make-responsive-sprite-fluid-constrained(@full-sprite-name);
}