.sprite-get-resolutions(@sprite-base){
  @sprite-x1-name:   "@{sprite-base}-x1";
  @sprite-x1:        @@sprite-x1-name;

  @sprite-x1_5-name: "@{sprite-base}-x1_5";
  @sprite-x1_5:      @@sprite-x1_5-name;

  @sprite-x2-name:   "@{sprite-base}-x2";
  @sprite-x2:        @@sprite-x2-name;

  @sprite-x3-name:   "@{sprite-base}-x3";
  @sprite-x3:        @@sprite-x3-name;
}

.sprite-unpack(@sprite){
  @sprite-x:             extract(@sprite, 1);
  @sprite-y:             extract(@sprite, 2);
  @sprite-offset-x:      extract(@sprite, 3);
  @sprite-offset-y:      extract(@sprite, 4);
  @sprite-width:         extract(@sprite, 5);
  @sprite-height:        extract(@sprite, 6);
  @sprite-total-width:   extract(@sprite, 7);
  @sprite-total-height:  extract(@sprite, 8);
  @sprite-image:         extract(@sprite, 9);

  //@a: `console.log("@{sprite-width}")`;
}

// Is there a better way to do this?
.sprite-unpack-before(@sprite){
  @before-x:             extract(@sprite, 1);
  @before-y:             extract(@sprite, 2);
  @before-offset-x:      extract(@sprite, 3);
  @before-offset-y:      extract(@sprite, 4);
  @before-width:         extract(@sprite, 5);
  @before-height:        extract(@sprite, 6);
  @before-total-width:   extract(@sprite, 7);
  @before-total-height:  extract(@sprite, 8);
  @before-image:         extract(@sprite, 9);
}

.make-sprite(@sprite-base){
  .sprite-get-resolutions(@sprite-base);
  .sprite-base(@sprite-x1);
}

.sprite-base(@sprite){
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.make-retina-sprite(@sprite-base){
  .sprite-get-resolutions(@sprite-base);

  .sprite-image(@sprite-x1);
  .sprite-background-size(@sprite-x1);

  @media @min-resolution-1_5 {
    .sprite-image(@sprite-x1_5);
  }
  @media @min-resolution-2 {
    .sprite-image(@sprite-x2);
  }
  @media @min-resolution-3 {
    .sprite-image(@sprite-x3);
  }
}

.make-fluid-sprite(@sprite-name){
  .sprite-get-resolutions(@sprite-name);
  .sprite-fluid-base();
  .sprite-fluid-styles(@sprite-x1);
}

.sprite-fluid-base(){
  height: 0 !important;
  width: auto !important;
}

.sprite-fluid-styles(@sprite){
  .sprite-fluid-padding(@sprite);
  .sprite-fluid-background-size(@sprite);
  .sprite-fluid-background-position(@sprite);
}

.sprite-fluid-padding(@sprite){
  .sprite-unpack(@sprite);
  padding-bottom:  percentage(@sprite-height / @sprite-width);
}

.sprite-fluid-background-size(@sprite){
  .sprite-unpack(@sprite);
  background-size: percentage(@sprite-total-width / @sprite-width) !important;
}

.sprite-fluid-background-position(@sprite){
  .sprite-unpack(@sprite);
  background-position:
    percentage(@sprite-x / (@sprite-total-width - @sprite-width), 0)
    percentage(@sprite-y / (@sprite-total-height - @sprite-height), 0);
}

.sprite-width(@sprite) {
  .sprite-unpack(@sprite);
  width: @sprite-width;
}

.sprite-height(@sprite) {
  .sprite-unpack(@sprite);
  height: @sprite-height;
}

.sprite-position(@sprite) {
  .sprite-unpack(@sprite);
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  .sprite-unpack(@sprite);
  background-image: url(@sprite-image);
}

.sprite-background-size(@sprite) {
  .sprite-unpack(@sprite);
  background-size: @sprite-total-width @sprite-total-height;
}

// Makes a responsive sprite base setting only the background image across different breakpoints and pixel densities
.make-responsive-sprite-base(@sprite-base) {
  .sprite-get-resolutions("@{sprite-base}-xxs");
  .sprite-unpack(@sprite-x1);

  .sprite-image(@sprite-x1);
  .sprite-background-size(@sprite-x1);

  @media @min-resolution-1_5 { .sprite-image(@sprite-x1_5); };
  @media @min-resolution-2   { .sprite-image(@sprite-x2); };
  @media @min-resolution-3   { .sprite-image(@sprite-x3); };

  .make-responsive-sprite-expand("@{sprite-base}-xs", @screen-xs-min);
  .make-responsive-sprite-expand("@{sprite-base}-sm", @screen-sm-min);
  .make-responsive-sprite-expand("@{sprite-base}-md", @screen-md-min);
}

.make-responsive-sprite-expand(@sprite-base, @min-width) {
  .sprite-get-resolutions(@sprite-base);
  .sprite-unpack(@sprite-x1);

  @media (min-width: @min-width) {
    .sprite-image(@sprite-x1);
    .sprite-background-size(@sprite-x1);
  }

  .make-responsive-sprite-apply-rules(@min-width, @min-resolution-1_5, @sprite-x1_5);
  .make-responsive-sprite-apply-rules(@min-width, @min-resolution-2,   @sprite-x2);
  .make-responsive-sprite-apply-rules(@min-width, @min-resolution-3,   @sprite-x3);
}

.make-responsive-sprite-apply-rules(@min-width, @min-resolution, @sprite){
  .sprite-unpack(@sprite);
  @rules: {
    background-image: url(@sprite-image);
  };
  .min-width-and-resolution(@min-width, @min-resolution, @rules);
}

// Generates an actual sprite based, to work in tandem with a responsive-sprite-base
.make-responsive-sprite(@sprite-name){
  .sprite-unpack-responsive-x1(@sprite-name);
  .sprite-base(@sprite-xxs-x1);

  @media (min-width: @screen-xs-min) {
    .make-responsive-sprite-breakpoint(@sprite-xs-x1, @sprite-xxs-x1);
  }

  @media (min-width: @screen-sm-min) {
    .make-responsive-sprite-breakpoint(@sprite-sm-x1, @sprite-xs-x1);
  }

  @media (min-width: @screen-md-min) {
    .make-responsive-sprite-breakpoint(@sprite-md-x1, @sprite-sm-x1);
  }
}

.sprite-unpack-responsive-x1(@sprite-name){
  @sprite-xxs-x1-name: "@{sprite-name}-xxs-x1";
  @sprite-xxs-x1:      @@sprite-xxs-x1-name;

  @sprite-xs-x1-name:  "@{sprite-name}-xs-x1";
  @sprite-xs-x1:       @@sprite-xs-x1-name;

  @sprite-sm-x1-name:  "@{sprite-name}-sm-x1";
  @sprite-sm-x1:       @@sprite-sm-x1-name;

  @sprite-md-x1-name:  "@{sprite-name}-md-x1";
  @sprite-md-x1:       @@sprite-md-x1-name;
}

// Each breakpoint will have different values most of the time, however, we want to minimize repeated styles
// so we leverage mobile-first media queries to work in our favor, only outputing values that actually change
.make-responsive-sprite-breakpoint(@after-sprite, @before-sprite) {
  .sprite-unpack(@after-sprite);
  .sprite-unpack-before(@before-sprite);

  .sprite-responsive-width-diff(@after-sprite, @sprite-width, @before-width);
  .sprite-responsive-height-diff(@after-sprite, @sprite-height, @before-height);
  .sprite-responsive-position-diff(@after-sprite, @sprite-x, @sprite-y, @before-x, @before-y);
}

.sprite-responsive-width-diff(@sprite, @sprite-width, @before-width) when not (@sprite-width = @before-width) {
  .sprite-width(@sprite);
}

.sprite-responsive-height-diff(@sprite, @sprite-height, @before-height) when not (@sprite-height = @before-height) {
  .sprite-height(@sprite);
}

.sprite-responsive-position-diff(@sprite, @sprite-x, @sprite-y, @before-x, @before-y) when
  not (@sprite-x = @before-x), not (@sprite-y = @before-y)
{
  .sprite-position(@sprite);
}

.make-responsive-sprite-fluid(@sprite-name){
  .sprite-unpack-responsive-x1(@sprite-name);

  .sprite-fluid-base();
  .sprite-fluid-styles(@sprite-xxs-x1);

  @media (min-width: @screen-xs-min) {
    .make-responsive-sprite-fluid-breakpoint(@sprite-xs-x1, @sprite-xxs-x1);
  }

  @media (min-width: @screen-sm-min) {
    .make-responsive-sprite-fluid-breakpoint(@sprite-sm-x1, @sprite-xs-x1);
  }

  @media (min-width: @screen-md-min) {
    .make-responsive-sprite-fluid-breakpoint(@sprite-md-x1, @sprite-sm-x1);
  }
}

.make-responsive-sprite-fluid-breakpoint(@after-sprite, @before-sprite){
  .sprite-unpack(@after-sprite);
  .sprite-unpack-before(@before-sprite);

  .sprite-responsive-fluid-padding-diff(@after-sprite, @sprite-height / @sprite-width, @before-height / @before-width);
  .sprite-responsive-fluid-background-size-diff(@after-sprite, @sprite-total-width / @sprite-width, @before-total-width / @before-width);

  @aft-x-pos: @sprite-x / (@sprite-total-width - @sprite-width);
  @bef-x-pos: @before-x / (@before-total-width - @before-width);
  @aft-y-pos: @sprite-y / (@sprite-total-height - @sprite-height);
  @bef-y-pos: @before-y / (@before-total-height - @before-height);
  .sprite-responsive-fluid-background-position-diff(@after-sprite, @aft-x-pos, @bef-x-pos, @aft-y-pos, @bef-y-pos);
}

.sprite-responsive-fluid-padding-diff(@sprite, @sprite-ratio, @before-ratio) when not (@sprite-ratio = @before-ratio){
  .sprite-fluid-padding(@sprite);
}

.sprite-responsive-fluid-background-size-diff(@sprite, @sprite-bg-size, @before-bg-size) when not (@sprite-bg-size = @before-bg-size){
  .sprite-fluid-background-size(@sprite);
}

.sprite-responsive-fluid-background-position-diff(@sprite, @aft-x-pos, @bef-x-pos, @aft-y-pos, @bef-y-pos)
  when not (@aft-x-pos = @bef-x-pos), not (@aft-y-pos = @bef-y-pos)
{
  .sprite-fluid-background-position(@sprite);
}