// Sprite definitions
//.spr-logo-white     { .make-core-sprite(logo-white); }
//.spr-logo-white-r   { .make-core-sprite-fluid(logo-white); }

// All basic non-resizable sprites use this class
.sprite-core {
  // It doesn't really mather what sprite doe we use, as long as belongs to the core sprite
  //.make-retina-sprite('sprite-logo-white');
}

.make-core-sprite(@sprite-name) {
  @full-sprite-name: "sprite-@{sprite-name}";
  .make-sprite(@full-sprite-name);
}

.make-core-sprite-fluid(@sprite-name){
  @full-sprite-name: "sprite-@{sprite-name}";
  .make-fluid-sprite(@full-sprite-name);
}