svg { pointer-events: none; }
svg.element-invisible {
  visibility: hidden;
}
.ggshape {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor;
}

.ggshape-resp {
  width: 100%;
  height: 1px;
  overflow: visible !important;
  box-sizing: content-box;
}

// Uncomment when needed
//.ggshape-latamgg-logo-normal {
//  fill: @brand-secondary;
//}

.ggshape-latamgg-logo-normal.ggshape-resp {
  padding-bottom: 36.1545705%
}

.ggshape-twitch {
  width: 64px;
}