@import "../variables";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Montserrat:400,700);
@import "style.css";

body {
  background-color: #fff;
  background-image: none;
}

body.cke_editable {
 padding: 15px;
 background-color: #fff;
}

img.right {
  border: 1px solid @gray-lighter;
  float: right;
  margin-left: 15px;
  padding: 5px;
}

img.left {
  border: 1px solid @gray-lighter;
  float: left;
  margin-right: 15px;
  padding: 5px;
}

img:hover {
  opacity: .9;
}

pre
{
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE7 */
}

.marker {
  background-color: yellow;
}