.pane-title {
  margin-top: 0;
}

h2.pane-title, .h2.pane-title {
  letter-spacing: 0;
  font-size: 18px;
  padding: 4px 0 8px 1px;
  margin-bottom: 10px;
  border-bottom: 3px solid #DFE3E5;
  color: @brand-primary-dark;
}

// Use panel-row class with an inner wrapper for pane-level columns
.panel-row > .inner {
  .make-row();
}

// Use start-pane-spacing on a pane and all subsequent panes will be vertically spaced, on < xs devices
// the pane with the start-pane-spacing class will also be spaced
.start-pane-spacing {
  &:extend(.grid-margin-top-phone all);
}

.start-pane-spacing ~ .panel-pane {
  &:extend(.grid-margin-top all);
}