#navbar-toggle-search {
  height: 34px;
  width: 44px;
  padding-top: 6px;
}

.navbar-toggle:not(.collapsed) {
  background-color: @navbar-inverse-toggle-hover-bg;
}

.search-collapse.in {
  overflow-y: visible;
}

nav.collapse.in { }

.search-inline {
  margin-bottom: 9px;
  padding-top: 9px;

  .form-submit {
    display: none;
  }
  .form-group {
    margin: 0;
  }

  @media (min-width: @screen-sm-min) {
    @search-height: 38px;

    margin: 0;
    position: absolute;
    right: @navbar-padding-horizontal;
    top: ((@navbar-height - @search-height) / 2);
    height: @search-height;
    width: 38px;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;

    &.in {
      width: 245px;
    }

    .form-type-searchfield {
      height: @search-height; // For autocomplete to work properly
    }

    .form-submit {
      display: inline-block;
      outline: 0;
      background: transparent;
      border: none;
      position: absolute;
      right: 0;
      line-height: 0;
      top: 0;
      padding: ((@search-height - 20) / 2);
    }

    .ggshape-search {
      width: 20px;
      height: 20px;
      fill: #4d4d4d;
    }
  }

  @media (min-width: @screen-md-min) {
    width: 105px;
  }

  @media (min-width: @screen-lg-min) {
    width: 190px;
    &.in {
      width: 290px;
    }
  }
}

.search-inline-input {
  background: #363636;
  color: @gray-lighter;
  border: none;
  border-radius: 4px;

  &:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.4);
  }

  @media (min-width: @screen-sm-min) {
    // Positioning absolute fixes some visual issues on animation
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 26px;
  }
}
