// Social widgets
.social-container {
  margin-top: -4px;

  > iframe {
    vertical-align: bottom;
  }
}

.social-share {
  margin-top: -4px;
  height: 22px;

  > .fb-like,
  > .twitter-share-button {
    margin-right: 4px;
    vertical-align: bottom;
  }
}