.top-bar {
  &:extend(.grid-margin-bottom all);
  background: #f5f5f5;
}

.top-social {
  float: right;
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal @breadcrumb-padding-vertical 0;
}



