.node-listing {
  .popular-articles {
    > li > .node  > a {
      color: @text-color;
    }

    > li + li {
      margin-top: 10px;
    }

    .field-image,
    .node-title {
      display: table-cell;
      vertical-align: top;
    }

    .field-image {
      padding-right: 10px;
    }

    .img-responsive {
      max-height: 84px;
      max-width: none;
    }
  }
}

