.entity-loldata {
  .field-label, aura, active, unique {
    font-weight: bold;
  }
}

*:not(.masterypage-cell-icon):not(.loldata-rune) > img.loldata-icon:not(.loldata-rune),
.loldata-icon > img {
  box-shadow: 0 0 2px rgba(0,0,0,.7);
}

span.loldata-view-icon {
  position: relative;
  
  > .loldata-count {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    line-height: 15px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.35);
    
    &:after {
      content: 'x';
      font-size: .9em;
    }
  }
}

.loldata-view-inline {
  white-space: nowrap;

  > .loldata-icon {
    width: 25px;
    vertical-align: bottom;
    display: inline-block;

    & + .loldata-title {
      padding-left: 5px;
    }
  }
}

table .loldata-view-inline {
  white-space: normal;

  > .loldata-icon {
    vertical-align: middle;
  }
}

// Item styles
.loldata-price, .loldata-upgrade-price {
  color: gold;
}

// qTip Tooltip styles
.loldata-tt {
  max-width: 380px;
  min-width: 100px;
  background: black;
  background: rgba(0, 0, 0, .93);
  color: #ccc;
  border: 1px solid #252525;
  font-size: .875em;
  line-height: 18px;
  
  .qtip-content{
    padding: 6px 10px;
  }
  
  h3, h4, .field-label, aura, active, unique {
    color: #fff;
  }
}

// Tooltip specifics
.loldata-tt-price {
  > span {
    float: left;
  }  
  
  > .field-label {
    margin-right: 5px;
  }
  
  > .loldata-upgrade-price:before{
    content: '(';
  }
  
  > .loldata-upgrade-price:after{
    content: ')';
  }
}

// Tooltip & Embedded spacing
.loldata-view-tooltip, .loldata-view-embedded {
  .loldata-effect:not(:only-child), .loldata-description:not(:only-child) {
    margin-bottom: 10px;
  }
  
  .field-label + .inline:after {
    content:"\a";
    white-space: pre;
  }
}

// Embedded spells two-column
.loldata-view-embedded {
  > .content {
    display: table-row;
    
    > div {
      display: table-cell;
      vertical-align: top;
    }
    
    > .loldata-icon {
      width: 64px + 10px;
      padding-right: 10px;
    }
  }
}

// Item stats
.loldata-description {
  > stats {
    padding-left: 10px;
    color: lighten(@brand-primary, 10%);
    display: inline-block;
    margin-bottom: -5px;
  }
  
  > grouplimit {
    font-style: italic;
  }
}