.submitted {
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

// Teasers image is floated to the right on mobile, while on desktop we use a table presentation
// to ensure that the image grows/shrinkgs as necessary (via picturefill) and the content never
// surrounds the image as it would if the image is floated left.
.node-article.node-teaser {
  @teaser-image-spacing: 20px;

  margin: 10px 0;

  > .teaser-content {
    > h2 {
      display: inline;
    }
  }

  > .field-image {
    float: right;

    > a {
      display: block;
      margin: 3px 0 0 @teaser-image-spacing;
    }

    .img-responsive {
      max-width: none;
    }
  }

  @media (min-width: @screen-sm-min) {
    > .field-image,
    > .teaser-content {
      display: table-cell;
      vertical-align: top;
    }

    > .teaser-content {
      > h2 {
        display: block;
        margin: 0 0 5px;
      }
    }

    > .field-image {
      float: none;

      > a {
        margin-left: 0;
        margin-right: @teaser-image-spacing;
      }
    }
  }
}

.node-thumbnail {
  > a {
    color: @gray-light;

    &:hover {
      color: @link-hover-color;
    }
  }
}

.node-full {
  > header {
    margin-bottom: 20px;

    > time {
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      font-size: @font-size-small;
    }

    > h1 {
      margin: 0 0 10px;
    }

    > .summary {
      color: @gray-light;
      font-size: @font-size-large-em;
      margin-bottom: 4px;
    }
  }

  > .by-author {
    font-size: @font-size-small;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px 6px 0 0;

    > .username {
      color: @brand-primary;
      border-bottom: 0;
    }
  }

  > footer {
    margin-top: 20px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 18px;
  }
}

.node-article.node-full {
  > header {
    > h1 {
      @media (min-width: @screen-md-min) {
        width: 115%;
      }
    }
  }
}

.node-page.node-full {
  margin-bottom: 20px;
}

// Scald atoms inside the full node body
.context-sdl_editor_representation {
  clear: both;
  max-width: 100%;
  margin-bottom: 20px;

  &.type-video {
    &:extend(.embed-responsive all);
    padding-bottom: 56.25%;
  }

  &.type-image {
    display: block;
    text-align: center;

    &.atom-align-left {
      float: left;
      margin: 5px 20px 15px 0;
    }

    &.atom-align-right {
      float: right;
      margin: 5px 0 15px 20px;
    }

    > .dnd-atom-rendered {
      max-width: 100%;
      display: inline-block;
    }

    > .dnd-caption-wrapper {
      padding: 10px 15px;
      color: @gray;
      font-size: .875em;
    }

    .img-responsive {
      display: inline-block;
    }
  }
}


// Node article page
.node-type-article {
  .popular-articles {

    > li:nth-child(n+5){
      display: none;
    }

    > li > .node > a {
      padding: 6px 0 12px;
      color: @gray-light;
    }
    .field-image {
      display: none;
    }

    @media (min-width: @screen-sm-min) {
      > li + li {
        margin-top: 20px;
      }
      > li > .node  > a {
        padding: 0;
      }
      .field-image {
        display: block;
      }
      .node-title {
        font-size: .85em;
      }
      .img-responsive {
        max-height: 96px;
      }
    }
  }
}