i, em {
  font-style: normal;
}

em {	
  background: #f1f1f1;
}

caption {
  font-size: 28px;
  padding: 5px 0 10px !important;
  font-weight: bold;
  background: #f3f3f3;
  border: 1px solid #bebfb9 !important;
  border-bottom: 0;
}

td:first-child {
  text-transform: capitalize;
}

i {
  display: block;
}

i > b:after {
  content: ':';
}

h3 {
  margin: 0 !important;
}

li {
 list-style: none !important;
}

.fields {
	width: 40%;
}

.upd em:first-child {
  margin-right: 30px;
  position: relative;
}

.upd em:first-child:after {
  content: '\21D2';
  position: absolute;
  right: -16px;
  top: 0;
}

h3 + ul {
  display: table;
  border-spacing: 20px 5px;
  border-collapse: separate;	
  margin: 0 !important;
  padding: 0 !important;
}


h3 + ul > li {
  display: table-row;
}

h3 + ul > li > em {
  display: table-cell;
  padding: 0 5px;
  border: 1px solid rgba(0,0,0,.2);
}
