/* Item sets */
.lol-itemset-1 {
	cursor: pointer;	
}

.lol-itemsets-view-1-category-container > .ui-sortable {
	min-height: 15px;
}

.itemfield-picker-delset-btn {
	position: absolute;
	right: -7px;
	top: 0;
}

/* Dialog */
#itemfield-picker-dialog-finder-container, #itemfield-picker-dialog-editor-container,
#itemfield-picker-dialog-tags, #itemfield-picker-dialog-item-list {
	float: left;		
}

#itemfield-picker-dialog-finder-container {
	margin-right: 15px;
}

#itemfield-picker-dialog-search {
	position: relative;
}

#itemfield-picker-dialog-searchbox {
	margin-bottom: 10px;
}

#itemfield-picker-dialog-clear {
	float: none;
	position: absolute;
	right: 13px;
	top: 13px;
}

#itemfield-picker-dialog-tags {
	width: 190px;	
	margin-right: 15px;
	clear: both;
	overflow: hidden;
}

.itemfield-picker-dialog-tag > label {	
	width: 91%;
	cursor: pointer;	
	margin: 0;
}

.itemfield-picker-dialog-tag > input {
	display: inline-block;
	width: 9%;
	cursor: pointer;
}

.itemfield-picker-dialog-tag-level-1 > label {
	font-weight: normal;
	font-size: .9em;
	padding-left: 10px;
}

#itemfield-picker-dialog-item-list {
	overflow-y: scroll;
	height: 526px;
	width: 250px;
}

.itemfield-picker-dialog-list-item {
	clear: both;
	padding: 3px 4px;
	cursor: pointer;
}

.itemfield-picker-dialog-list-item > .loldata-price {
	color: rgb(149, 131, 38);
	font-weight: bold;
}

.itemfield-picker-dialog-list-item:hover, 
.itemfield-picker-dialog-list-item.active {
	background-color: #FFFF66;
}

.itemfield-picker-dialog-list-item .loldata-icon {
	float: left;
	width: 42px;
	height: 42px;
	margin-right: 5px;
}

#itemfield-picker-dialog-editor-container {
	max-width: 265px;
	width: 265px;
}

#itemfield-picker-dialog-items {
	margin-left: 5px;
	max-height: 200px;	
	overflow: auto;	
}

#itemfield-picker-dialog-items:empty:after {
	content: 'Haz click en un objeto de la izquierda para seleccionarlo.';
	opacity: .7;
}

#itemfield-picker-dialog > .modal-dialog {
	display: table;
	width: auto;
}

#itemfield-picker-dialog-label {
	width: 100%;	
	min-height: 120px;
}
