.lol-itemsets-view-1-category {
	display: table-row;
}

.lol-itemsets-view-1-category-header {
	display: table-cell;
	padding: .2em .8em;
	vertical-align: middle;
	text-align: right;
}

.lol-itemsets-view-1-category-container {
	display: table-cell;
	padding: .4em .6em;
	padding-right: 0;
	width: 100%;
}

.lol-itemsets-view-1-container .lol-itemset-1 {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1%;
	position: relative;
	text-align: center;
	max-width: 49%;
	padding: .3em;
	border-radius: 4px;
	margin-bottom: .8em;
	font-size: .9em;
}

.lol-itemsets-view-1-container .loldata-view-icon {
	display: inline-block;
	margin: 0 .3em;
}

.lol-itemsets-view-1-container .loldata-icon {
	width: 32px;
}
