@import (reference) 'variables';

.highlighted-info {
  @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
    background-color: @highlighted-article-bg;
    background-position: left top;
  }
}