
.main-container {
  line-height: 1.375;
  /* equivalent to 20px */
  
  @media (min-width: @screen-sm-min) {
    line-height: 1.428571429;
    /* equivalent to 22px */
  }

  @media (min-width: @screen-md-min) {
    line-height: 1.5;
  }
}


h1, .h1 {
  font-size: 2em;
  letter-spacing: -1px;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
  
  @media (min-width: @screen-sm-min) {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }

  @media (min-width: @screen-md-min) {
    letter-spacing: -2px;
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}


h2, .h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */

  @media (min-width: @screen-sm-min) {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }

  @media (min-width: @screen-md-min) {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}


h3, .h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */

  @media (min-width: @screen-sm-min) {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }

  @media (min-width: @screen-md-min) {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}


h4, .h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;

  @media (min-width: @screen-sm-min) {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.2em;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: @gray-lighter;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  position: relative;
  top: .21em;
  float: left;
}

blockquote:after {
  content: no-close-quote;
}