.dark-context {
  color: @gray-lighter;

  a {
    color: #ccc;

    &:hover {
      color: #fff;
    }
  }

  h4 {
    color: #fff;
  }

  .nav {
    > li > a {
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}